/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343
FONTS:s
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;*/


body{
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Lora', serif;
    line-height: 1.8;
    margin: 0;
    background-color: #F2F1E8;
}

.wrapper{
    background-color: #F2F1E8;
  }

#header{
        background-color: white;
        padding: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 80px;
        justify-content: space-between;
        max-width: 100%;
  }

#logo{
    align-items: flex-start;
    height: 70px;
    margin-left: 15px;
  }

#main-navigation{
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      margin-top: 25px;
      margin-right: 33%;
      padding-left: 10px;
      align-items: center;
  }

#main-navigation a{
      padding: 10px;
      margin-left: 30px;
  }

#index_main h1 {
  text-align: center;
  font-size: 40px;
  font-family: 'Lora', serif;
}

#index_main h2 {
  text-align: center;
  font-size: 25px;
  font-family: 'Lora', serif;

}

.product_images ul{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 5px;
  flex-shrink: 1;
  align-content: stretch;
}

.product_images ul img {
  max-width: 95%;

}

.product_images ul h3 {
  background-color: #1D2416;
  padding-left: 17px;
  padding-right: 70px;
  color: #F2F1E8;
  font-weight: 100;
  font-size: 15px;
  margin: 3px;
  max-width: 40%;
  position: relative;
  bottom: 70px;
}

#row_one img {
  flex-basis: 10%;
  flex-shrink: 1;
}


#about h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  font-family: 'Lora', serif;
}

#community img {
  float: left;
  max-width: 25%;
  margin-right: 20px;
  margin-left: 40px;
}

#community > p {
  margin-right: 50px;
  font-family: 'Lora', serif;
  font-size: 20px;
  margin-left: 5%;
}

#community > p > a {
  color: #B49E84;
}

.newsletter_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quote {
  text-align: center;
  font-style: italic;
  border-left: 1px solid #968773;
  font-size: 20px;
  font-weight: lighter;
}

#history {
  margin-left: 40px;
  margin-right: 40px;
  font-family: 'Lora', serif;
  font-size: 20px;
}

#room_to_grow img {
  max-width: 100%;
  margin-bottom: 0;
}

#room_to_grow h1 {
  position: relative;
  bottom: 450px;
  color: #F2F1E8;
}

#ceramics {
  display: flex;
  flex-direction: column;

}
#ceramics img {
  width: 30%;
}

#ceramics > h4 {
  width: 30%;
}

#facilities {
  margin-left: 40px;
  margin-right: 39%;
  position: relative;
  bottom: 120px;
  font-family: 'Lora', serif;
  font-size: 20px;
}

#monthly_plans {
  margin-left: 40px;
  margin-right: 40px;
}

#monthly_plans table{
  margin-top: 20px;
  margin-left: 15%;
  table-layout: auto;
  position: relative;
  max-width: 60%;
}

.two {
  background-color: #F1EADC;
}
#newsletter {
  position: relative;
  bottom: 500px;
  background-color: white;
  padding: 20px;
  color: #131511
}

#newsletter #name {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-bottom: 2px solid #968773;
    box-sizing: border-box;
}

#newsletter #email {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-bottom: 2px solid #968773;
  box-sizing: border-box;
}

#newsletter input[placeholder] {
    font-size: 20px;
}

#newsletter [type=submit] {
    width: 25%;
    background-color: #968773;
    color: white;
    padding: 14px 20px;
    margin: 8px 200px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

#newsletter h2  {
  text-align: center;
}

#newsletter h3  {
  text-align: center;
}

#newsletter_pic {
  max-width: 100%;
  margin-bottom: 0%;
}


#site-footer {
  color: #F2F1E8;
  background-color: #1D2416;
  padding-left: 60px;
  padding-top: 28px;
  height: 60px;
  margin-top: 5%;
  font-family: 'Lora', serif;
}
